<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-246</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-266</integer>
		<key>s</key>
		<integer>-27</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-205</integer>
		<key>quoteright</key>
		<integer>-287</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>comma</key>
		<integer>-61</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-37</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>comma</key>
		<integer>-41</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>quotedblright</key>
		<integer>287</integer>
		<key>quoteright</key>
		<integer>225</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-35</integer>
	</dict>
</dict>
</plist>
