<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>AE</key>
	<string>a_e_.glif</string>
	<key>B</key>
	<string>b_.glif</string>
	<key>C</key>
	<string>c_.glif</string>
	<key>D</key>
	<string>d_.glif</string>
	<key>E</key>
	<string>e_.glif</string>
	<key>G</key>
	<string>g_.glif</string>
	<key>H</key>
	<string>h_.glif</string>
	<key>I</key>
	<string>i_.glif</string>
	<key>J</key>
	<string>j_.glif</string>
	<key>K</key>
	<string>k_.glif</string>
	<key>L</key>
	<string>l_.glif</string>
	<key>M</key>
	<string>m_.glif</string>
	<key>N</key>
	<string>n_.glif</string>
	<key>O</key>
	<string>o_.glif</string>
	<key>OE</key>
	<string>o_e_.glif</string>
	<key>P</key>
	<string>p_.glif</string>
	<key>Q</key>
	<string>q_.glif</string>
	<key>R</key>
	<string>r_.glif</string>
	<key>S</key>
	<string>s_.glif</string>
	<key>T</key>
	<string>t_.glif</string>
	<key>U</key>
	<string>u_.glif</string>
	<key>V</key>
	<string>v_.glif</string>
	<key>W</key>
	<string>w_.glif</string>
	<key>X</key>
	<string>x_.glif</string>
	<key>Y</key>
	<string>y_.glif</string>
	<key>Z</key>
	<string>z_.glif</string>
	<key>_11</key>
	<string>_11.glif</string>
	<key>_19</key>
	<string>_19.glif</string>
	<key>_20</key>
	<string>_20.glif</string>
	<key>_21</key>
	<string>_21.glif</string>
	<key>_23</key>
	<string>_23.glif</string>
	<key>_25</key>
	<string>_25.glif</string>
	<key>_26</key>
	<string>_26.glif</string>
	<key>_27</key>
	<string>_27.glif</string>
	<key>_28</key>
	<string>_28.glif</string>
	<key>_29</key>
	<string>_29.glif</string>
	<key>_30</key>
	<string>_30.glif</string>
	<key>_31</key>
	<string>_31.glif</string>
	<key>_32</key>
	<string>_32.glif</string>
	<key>_33</key>
	<string>_33.glif</string>
	<key>_34</key>
	<string>_34.glif</string>
	<key>_35</key>
	<string>_35.glif</string>
	<key>_36</key>
	<string>_36.glif</string>
	<key>_37</key>
	<string>_37.glif</string>
	<key>_38</key>
	<string>_38.glif</string>
	<key>_39</key>
	<string>_39.glif</string>
	<key>_40</key>
	<string>_40.glif</string>
	<key>_41</key>
	<string>_41.glif</string>
	<key>_42</key>
	<string>_42.glif</string>
	<key>_44</key>
	<string>_44.glif</string>
	<key>_45</key>
	<string>_45.glif</string>
	<key>_46</key>
	<string>_46.glif</string>
	<key>_47</key>
	<string>_47.glif</string>
	<key>_48</key>
	<string>_48.glif</string>
	<key>_49</key>
	<string>_49.glif</string>
	<key>_50</key>
	<string>_50.glif</string>
	<key>_58</key>
	<string>_58.glif</string>
	<key>_64</key>
	<string>_64.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.alt</key>
	<string>c.alt.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tt</key>
	<string>tt.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
</dict>
</plist>
