<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>a_e_.glif</string>
	<key>B</key>
	<string>b_.glif</string>
	<key>C</key>
	<string>c_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>d_.glif</string>
	<key>E</key>
	<string>e_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>g_.glif</string>
	<key>H</key>
	<string>h_.glif</string>
	<key>I</key>
	<string>i_.glif</string>
	<key>J</key>
	<string>j_.glif</string>
	<key>K</key>
	<string>k_.glif</string>
	<key>L</key>
	<string>l_.glif</string>
	<key>M</key>
	<string>m_.glif</string>
	<key>N</key>
	<string>n_.glif</string>
	<key>O</key>
	<string>o_.glif</string>
	<key>OE</key>
	<string>o_e_.glif</string>
	<key>P</key>
	<string>p_.glif</string>
	<key>Q</key>
	<string>q_.glif</string>
	<key>R</key>
	<string>r_.glif</string>
	<key>S</key>
	<string>s_.glif</string>
	<key>T</key>
	<string>t_.glif</string>
	<key>U</key>
	<string>u_.glif</string>
	<key>V</key>
	<string>v_.glif</string>
	<key>W</key>
	<string>w_.glif</string>
	<key>X</key>
	<string>x_.glif</string>
	<key>Y</key>
	<string>y_.glif</string>
	<key>Z</key>
	<string>z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tt</key>
	<string>tt.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>y</key>
	<string>y.glif</string>
</dict>
</plist>
